{{> /layout/header}}
<div class="container p-5">
    <!-- 요청을 하면 localhost:8080/board/save POST로 요청됨
    title=사용자입력값&content=사용자값 -->
     
    <div class+"card">
   <button class="btn btn-secondary">돌아가기</button>
   <button class="btn btn-secondary">수정</button>
   <button class="btn btn-secondary">삭제</button>

    </div>

    <div class="card">
        <div class="card-header"><b>제목자리</b></div>
        <div class="card-body">
            내용자리
            
                <div class="mb-3">
                    <textarea class="form-control" rows="5"  name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary form-control">글쓰기완료</button>
            </form>
        </div>
    </div>
</div>
{{> /layout/footer}}
